@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Outfit:wght@400;600;700&display=swap');
body {
    background-image: url(bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*Stle base delle risposte*/
.answers {
    width: 500px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 40px;
}

.answer {
    cursor: pointer;
}

/*nascondere il radio nativo*/
.answer input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    /*evita che il pallino intercetti i click*/
}

/*BASE-integrato nello sfondo*/
.answerBox {
    display: flex;
    align-items: center;
    gap: 14px;

    padding: 14px 18px;
    border-radius: 12px;

    background: trasparent;
    border: 1px solid rgba(255, 255, 255, 0.25);

    transition: background 0.2s ease, border-color 0.2s ease;

}

.text{
    color: white;
     font-family: 'Inter', sans-serif;
     font-size: 16px;
     font-weight: 400;
}

/*Hover leggero sul body*/
.answers:hover .answerBox{
    border-color: rgba(255, 255, 255, 0.45);
}

/*Selezionato -> cambio sfondo*/
.answer input:checked + .answerBox{
 background: linear-gradient(90deg, #D20094, #900080);
  border-color: transparent;
}